.blogPage {
  position: relative;
}

.blogPage .preloader{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

.addNewPost {
  text-align: center;
  margin-top: 20px;
}

.posts {
  width: 900px;
  margin: 0 auto;
  position: relative;
}

.blackBtn {
  padding: 5px 15px;
  border-radius: 16px;
  background-color: black;
  color: white;
  transition: .2s;
}

.blackBtn:hover {
  background-color: rgba(1, 1, 1, 0.8);
}

